<div class="site-container">
  <div class="layout-standard">
    {% include '/themes/minim/templates/header.html.twig' with {logo: logo, main_menu: main_menu, header: page.header, front_page: front_page} %}
  
    {% if page.content_top %}
      {{ messages }}
      <div class="region-content-top">
        {{ page.content_top }}
      </div>
    {% endif %}
  
    {% if page.content %}
      <div class="region-content">
        {{ title_prefix }}
        {% if title and not is_front %}
          <h1>{{ title }}</h1>
        {% endif %}
        {{ title_suffix }}
        {{ tabs }}
        {% if action_links %}
          <nav class="action-links">{{ action_links }}</nav>
        {% endif %}
        {{ page.content }}
      </div>
    {% endif %}
  
    {% if page.content_bottom %}
      <div class="region-content-bottom">
        {{ page.content_bottom }}
      </div>
    {% endif %}

    {% if page.footer %}
      {% include '/themes/minim/templates/footer.html.twig' with {footer: page.footer} %}
    {% endif %}
  </div>
</div>
